/*
  
  # TODO

  - ::selection
  - tap-highlight colors

*/

body {
  font-family: $type-serif;
  background-color: white;
}

body { 
  background: gray(97%); 
}

body > main {
  background: white;
}

figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@each $i in $issues {
  .issue-#{$i} .issue-current {
    color: issue-color($i);
  }
}

a {
  text-decoration: none;
  
  color: gray(30%);
  
  @include colored-link;

  @each $i in $issues {
    &.issue-#{$i},
    .issue-#{$i} &.issue-current {
      &:link, &:visited { color: issue-color($i); }
      @include colored-link;
    }
  }
  
}



.debug, .debug * {
  background: rgba(255,0,0,0.05);
}