$header-height: 64px;


/*
 *
 * LAYOUT
 * 
 */
.header {
  font-size: $type-main-size;
}

.header-nav {
  @include clearfix;
  font-size: em(17, $type-main-value);
}

.header-nav > *           { float: left; }
.header-nav > .subscribe  { float: right; }

.header-nav > *,
.header-nav-menu > li, 
.header-nav-menu > li > a {
  height: $header-height;
  line-height: $header-height;
}

.header-nav-menu > li { 
  float: left;
}

.header-nav-menu > li.has-dropdown {
  position: relative;
  &.is-expanded, .no-js &:hover {
    .header-nav-menu-item-dropdown { 
      display: block;
    }
  }
}

.header-nav-menu-item-dropdown {
  position: absolute;
  top: $header-height+1;
  left: -1px;
  z-index: 5;
  
  display: none;
}









/*
 *
 * STYLING
 *
 * 
 */
.header { 
  font-family: $type-sans;
  border-bottom: solid 1px $color-divider;
}

.header-nav-logo {
  text-transform: uppercase;
  font-size: 16px;
  @include sans-serif(bold);
  padding-right: 1.5em;

  &, a    { color: gray(40%); }
  a:hover { color: black; }
}

.header-nav-logo, 
.header-nav-menu > li {
  border-right: solid 1px $color-divider;
}

.header-nav-menu > li {

  > a {
    display: block;
    text-align: center;
    @include padding-h(1.5em);
    color: gray(60%);
    font-weight: weight(regular);
    
    outline: none;

    &:hover, &:focus { color: black; }
  }

  &.is-current  > a,
  &.has-dropdown.is-expanded > a {
    border-bottom: solid 1px white;
    height: $header-height + 1;
    background-color: white;
  }

  &.is-current > a {
    color: black;
  }

  &.has-dropdown > a {
    padding-right: 1.2em;
  }

  &.has-dropdown > a:after {
    content: "";
    display: inline-block;
    margin-left: 0.7em;
    width: 15px;
    height: 12px;
      background-image: url('../../images/interface/header-nav-arrow.png');
    @include hidpi {
      background-image: url('../../images/interface/header-nav-arrow@2x.png');
    }
    background-size: 15px auto;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  &.has-dropdown:hover > a:after {
    background-position: 0px -12px;
  }

  &.has-dropdown.is-expanded > a:after {
    background-position: 0px -24px;
  }

  &.has-dropdown.is-expanded > a {
    color: black;
  }

  &:hover > a { color: black; }

}

.header-nav-menu-item-dropdown {
  background-color: white;
  line-height: 1;
  white-space: nowrap;

  border: solid 1px $color-divider;
  border-top: none;

  box-shadow: 4px 4px 0px rgba(black, 0.05);

  > li > a {
    display: block;
    padding: 11px 26px;
  }

  > li:first-child  > a { padding-top:    20px; }
  
  > li.all-issues > a {
    padding-top:    18px;
    padding-bottom: 22px;
  }
  
  > li[class^=issue-] > a {
    font-family: $type-serif;
    font-weight: weight(semibold);
    font-size: 1.2em;

    strong {
      @include sans-serif(medium);
      background-color: #666;
      
      font-size: 0.85em;
      padding-right:  0.35em;
      padding-left:   0.35em;
      padding-top:    0.1em;
      padding-bottom: 0.1em;
      margin-left:    0.15em;

      color: white;
      border-radius: 0.15em;
    }
  }

  > li {
    @each $i in $issues {
      &.issue-#{$i} > a strong {
        background-color: issue-color($i);
      }
      &.issue-#{$i} > a:hover strong {
        background-color: black;
      }
    }
  }

  > li.all-issues > a {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    color: #999;
    &:hover {
      color: black;
    }
  }
}

.header-nav .subscribe {
  display: none;
  text-transform: uppercase;
  font-size: 14px;
  color: gray(40%);

  a {
    @include sans-serif(medium);
    @include box-sizing(border-box);
    display: inline-block;
    padding: 0.5em 0.6em;

    letter-spacing: 1px;
    line-height: 1em;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
  }

  a:first-child {
    margin-right: 0.5em;
    background-color: white;
    border-color:     $color-divider;
    color:            gray(40%);

    &:hover {
      border-color: darken($color-divider, 10%);
      color:        black;
    }
  }

  a:last-child {
    margin-left: 0.6em;
    background-color: gray(40%);
    border-color:     gray(40%);
    color:            white;
    &:hover {
      background-color: black;
      border-color:     black;
    }
  }
}