RewriteEngine On
RewriteBase /

Redirect 302 /blog/posts.xml http://blog.alwaysreadthemanual.com/posts.xml
Redirect 302 /blog/synopses.xml http://blog.alwaysreadthemanual.com/synopses.xml

RewriteRule ^issues/4/wilson-miner/article$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ http://buy.alwaysreadthemanual.com/ [R=302]