// Base type
$rem-base:                24px;
$type-main-value:         valueof($rem-base);
$type-main-size:          $rem-base;

// Grid
$column: 60px;
$gutter: 35px;
$grid-columns: 12;
$max-width: 1350px;

// Breakpoints
$bp-xs: 500px;
$bp-s:  650px;
$bp-l:  850px;
$bp-xl: 1100px;

// Type
$type-sans:               "franklin-gothic-urw", sans-serif;
$type-serif:              "freight-text-pro", serif;